<header class="main-header clearfix">
    <a href="" class="admin-logo" (click)="closeFold($event)"></a>
    <nav class="main-nav">
        <ul>
            <li routerLinkActive="active">
                <a [routerLink]="['/about']">About</a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/faq']"><span class="icon-head faq"></span>FAQ</a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/customer-support']"><span class="icon-head support"></span>Customer Support</a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/settings']"><span class="icon-head settings"></span>Settings</a>
            </li>
            <li [ngClass]="{ 'active':showNotif }">
                <a href="javascript:void(0)" (click)="showNotif = !showNotif"><!--<span class="icon-counter">3</span>--><span class="icon-head bell"></span>Alerts</a>
                <ul class="dropdown-alerts" *ngIf="showNotif">
                    <li>
                        <div class="alerts-section">
                            <h4>Notifications / Alerts</h4>
                            <!-- <app-alert></app-alert> -->
                            <div class="alerts-full-list">
                                <a href="javascript:void(0)">See Full List</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li routerLinkActive="active"><a [routerLink]="['/account']"><span class="icon-head account"></span>My Account</a></li>
            <li>
                <form method="POST" action="/logout">
                    <!-- <input type="hidden" name="_token" id="_token" value="{{ csrf_token }}"> -->
                    <input class="signout-link" type="submit" value="Sign Out">
                </form>
            </li>
        </ul>
    </nav>
</header>