<app-header></app-header>
<div class="inner-frame row clearfix">
    <aside class="side-pane">
        <ul class="side-menu">
            <li routerLinkActive="active">
                <a href="/map" (click)="preload($event, 'map')">
                    <span class="icon-side eye"></span>Map
                </a>
            </li>
            <li routerLinkActive="active">
                <a href="/sharing" (click)="preload($event, 'sharing')">
                    <span class="icon-side sharing"></span>Sharing
                </a>
            </li>
            <li routerLinkActive="active">
                <a href="/bookmarks" (click)="preload($event, 'bookmarks')">
                    <span class="icon-side pin"></span>Bookmarks
                </a>
            </li>
            <li routerLinkActive="active">
                <a href="/perimeters" (click)="preload($event, 'perimeters')">
                    <span class="icon-side perimiter"></span>Perimeters
                </a>
            </li>
            <li routerLinkActive="active">
                <a href="/friends" (click)="preload($event, 'friends')">
                    <span class="icon-side friends"></span>Friends
                </a>
            </li>
            <li routerLinkActive="active">
                <a href="/anti-theft" (click)="preload($event, 'anti-theft')">
                    <span class="icon-side signal"></span>Anti-Theft
                </a>
            </li>
        </ul>
        
        <div class="side-stats">
            <div class="stat">
                <h4>My Status:</h4>
                <p>Sharing privately with 3 friends</p>
            </div>
            <div class="stat">
                <h4>Viewing:</h4>
                <ul>
                    <li>2 Public Shares</li>
                    <li>1 Group</li>
                    <li>5 Private Shares</li>
                </ul>
            </div>
            <div class="app-version">
                <p>{{ appVersion }}</p>
            </div>
        </div>
    </aside>
    <section class="paper">
        <div class="paper-inner">
            <div class="folder clearfix" fxLayout="column">
                <div class="folder-container">
                    <div id="preload" class="fold fold-1 main-fold active-always" [@slideInOut]="fold">
                        
                        <div class="loading-frame">
                            <div class="loading-room">
                                <div class="loading-inner">
                                    <div class="logo"></div>
                                    <div class="loader"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <router-outlet></router-outlet>
                    <app-openstreetmap></app-openstreetmap>
                </div>
            </div>
        </div>
    </section>
</div>