<div class="fold fold-1 main-fold active-always animated fadeIn" [@slideInOut]="fold">
    
    <a href="javascript:void(0)" id="bookmarkCloseButton" class="folder-close-button" title="close" (click)="closeFold($event)"></a>

    <h2>Bookmarks</h2>

    <div class="section-main bookmarks-main">
        
    </div>

</div>